<!DOCTYPE html>
<html lang="en">
<body>

    <h1 class="text-center bg-danger p-5 text-white m-0">The Solar System</h1>

    <%- include("partials/navbar.ejs") %>
    <%- include("partials/header.ejs") %>

    <h2> Asteroids </h2>

    <ul>
        <li>Definition: <%=asteroidsInfo.def%></li>
        <li><a href="<%=asteroidsInfo.link%>" target=blank> Asteroids Link</a></li>
    </ul> <br>

    <img id="planet_Img" src="<%=asteroidsInfo.image %>" width="300">

    <%- include("partials/footer.ejs") %>

</body>
</html>