<!DOCTYPE html>
<html lang="en">
<body>

    <h1 class="text-center bg-danger p-5 text-white m-0">The Solar System</h1>

    <%- include("partials/navbar.ejs") %>
    <%- include("partials/header.ejs") %>

    <h2> <%= planet_name %> </h2>

    <h6><%=planetInfo.description%></h6>

    <ul>
        <li>Distance from sun: <%=planetInfo.distanceFromSun%></li>
        <li>Year Length: <%=planetInfo.yearLength%></li>
        <li>Radius: <%=planetInfo.radius%></li>
        <li><a href="<%=planetInfo.websiteLink%>" target=blank> <%= planet_name %> Website Link</a></li>
        <li>One Earth Day: <%=planetInfo.oneEarthDay%></li>
        <li>Moons: <%=planetInfo.moons%></li>

    </ul> <br>

    <img id="planet_Img" src="<%=planetInfo.image %>" width="300">

    <%- include("partials/footer.ejs") %>

</body>
</html>